body{
    margin: 0;
}
/*.body{
    background-image: url('images/woods.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: black;
    height: 500px;
    margin: 0 auto;
    
}*/
.container h1{
    text-align: left;
    display: inline-block;
    padding-left: 10%;
    color: #bfbebe;
    font-family: 'Shadows Into Light', cursive;
}
.container ul{
    text-align: center;
    display: inline-block;
    list-style-type: none;
    padding-top: 1.5em;
}
.container ul li{
    display: inline;
    padding: 0 10px;
    font-size: 1.5em;
}
.container ul li a{
    color: #bfbebe;
    font-family: 'Open Sans Condensed', sans-serif;
}
.container ul li a:hover{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
}
.yellow{
    color: yellow;
}
.comments{
    margin: 0 auto;
}