.body{
    background-image: linear-gradient(to right, rgba(30, 30, 30, 1), rgba(255, 255, 255, 0)), url('images/bet.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    background-position: bottom right, left, right;
    background: -moz-linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), -webkit-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), -ms-linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    /*background-color: black;*/
    height: 800px;
    width: 100%;
    /*margin: 0 auto;*/
    
    /*z-index: 1;*/
}
.bar{
    height: 50px;
    background-color: #222;
    border: solid, black, 1px;
}
.title{
    margin-top: 5em;
}
.container h1{
    text-align: left;
    display: inline-block;
    padding-left: 10%;
    color: #bfbebe;
    font-family: 'Shadows Into Light', cursive;
}
.container ul{
    text-align: center;
    display: inline-block;
    list-style-type: none;
    padding-top: 1.5em;
}
.container ul li{
    display: inline;
    padding: 0 10px;
    font-size: 1.5em;
}
.container ul li a{
    color: #bfbebe;
    font-family: 'Open Sans Condensed', sans-serif;
}
.container ul li a:hover{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
}
.yellow{
    color: yellow;
}
#comments{
    text-align: center;
}
.fb-comments{
    width: 80%;
}